<h1>Listing users</h1>
<style type='text/css'>
  table th{
    background-color: #999;
    border-right: 1px solid #fff;
    padding: 2px 5px;
  }
  table td{
    
    border-right: 1px solid #fff;
    padding: 2px 5px;
  }
  .data:nth-child(odd){
    background-color: #eee;
  }
  .data:nth-child(even){
    background-color: #ccc;
  }
</style>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class='data'>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<i>Whats up</i>
